/* Coolors Exported Palette - https://coolors.co/820933-646f4b-4d7298-ffb100-fffbbd */

/* CSS HEX */
--claret: #820933ff;

EGGPLANT : #493843;
/ #231B20;
--dark-olive-green: #646f4bff;
--queen-blue: #4d7298ff;
--honey-yellow: #ffb100ff;
--cream: #fffbbdff;

/* CSS HSL */
--claret: hsla(339, 87%, 27%, 1);
--dark-olive-green: hsla(78, 19%, 36%, 1);
--queen-blue: hsla(210, 33%, 45%, 1);
--honey-yellow: hsla(42, 100%, 50%, 1);
--cream: hsla(56, 100%, 87%, 1);

/* SCSS HEX */
$claret: #820933ff;
$dark-olive-green: #646f4bff;
$queen-blue: #4d7298ff;
$honey-yellow: #ffb100ff;
$cream: #fffbbdff;

/* SCSS HSL */
$claret: hsla(339, 87%, 27%, 1);
$dark-olive-green: hsla(78, 19%, 36%, 1);
$queen-blue: hsla(210, 33%, 45%, 1);
$honey-yellow: hsla(42, 100%, 50%, 1);
$cream: hsla(56, 100%, 87%, 1);

/* SCSS RGB */
$claret: rgba(130, 9, 51, 1);
$dark-olive-green: rgba(100, 111, 75, 1);
$queen-blue: rgba(77, 114, 152, 1);
$honey-yellow: rgba(255, 177, 0, 1);
$cream: rgba(255, 251, 189, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-right: linear-gradient(90deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-bottom: linear-gradient(180deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-left: linear-gradient(270deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-top-right: linear-gradient(45deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-bottom-right: linear-gradient(135deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-top-left: linear-gradient(225deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-bottom-left: linear-gradient(315deg, #820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
$gradient-radial: radial-gradient(#820933ff, #646f4bff, #4d7298ff, #ffb100ff, #fffbbdff);
